<div class="animated fadeIn">
  <form v-on:submit.prevent="create" enctype="multipart/form-data">
    <div class="card">
      <div class="card-header">
        <div>
          <strong>Create</strong>
          <small>Product</small>
        </div>
      </div>
      <div class="card-body">
        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <label for="category_id">Category</label>
            <b-form-select v-model="product.category_id" :options="category" class="mb-3" />
            <label for="category_id" style="color: red" v-if="error.category_id">{{error.category_id?error.category_id[0]:''}}</label>
          </div>
        </fieldset>
        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <label for="Name">Name</label>
            <input id="Name" type="text" v-model="product.name" placeholder="Enter name" class="form-control">
            <label for="name" style="color: red" v-if="error.name">{{error.name?error.name[0]:''}}</label>
          </div>
        </fieldset>
        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <label for="Emapriceil">Price (Đồng)</label>
            <input id="price" type="number" v-model="product.price" placeholder="Enter price" class="form-control">
            <label for="price" style="color: red" v-if="error.price">{{error.price?error.price[0]:''}}</label>
          </div>
        </fieldset>

        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <label for="info">Info product</label>
            <ckeditor v-model="product.info" :config="config">
            </ckeditor>
            <label for="info" style="color: red" v-if="error.info">{{error.info?error.info[0]:''}}</label>
          </div>
        </fieldset>
        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <label for="Image">Image</label>
            <b-form-file v-model="product.image" :state="Boolean(product.image)" accept="image/*" placeholder="Choose a file..."></b-form-file>
            <label for="Image" style="color: red" v-if="error.image">{{error.image?error.image[0]:''}}</label>
          </div>
        </fieldset>
        <fieldset role="group" class="b-form-group form-group">
          <!---->
          <div role="group" class="">
            <div role="group" class="">
              <label for="Image_more">Image More</label>
              <b-form-file v-model="product.image_more" :state="Boolean(product.image_more)" multiple accept="image/*" placeholder="Choose a file..."></b-form-file>
              <label for="Image_more" style="color: red" v-if="error.image_more">{{error.image_more?error.image_more[0]:''}}</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-footer">
        <div class="pull-right">
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
          </button>
          <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>