<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="card border-primary" v-for="(group,index) in groupCategories">
        <div class="card-header">
          <div>{{group.name}} <a href="#" v-b-modal.edit @click="editGroup(index,group)">&nbsp;&nbsp;<i class="fa fa-edit"></i></a> <a href="#" class="pull-right" @click="destroyGroup(index,group)">x</a></div>
        </div>
        <div class="card-body">
         <table class="table table-hover">
           <thead>
             <tr>
               <th>Stt</th>
               <th>Name</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="(category,index) in group.category">
               <td>{{index+1}}</td>
               <td>{{category.name}}</td>
               <td>
                 <button type="button" class="btn btn-danger btn-sm" @click="destroy(index,group)"><i class="fa fa-times"></i></button>
                 <b-btn v-b-modal.edit class="btn btn-warning btn-sm"  @click="edit(index,group)"><i class="fa fa-edit"></i></b-btn>
               </td>
             </tr>
           </tbody>
         </table>
         <form v-on:submit.prevent="create(index)">
          <div class="form-group">
            <input type="hidden" ng-model="category.parent_id" :value="group.id">
            <input type="text" ng-model="category.name" class="form-control" id="" placeholder="Name category">
            <label for="name" style="color: red" v-if="errors.name">{{errors.name?errors.name[0]:''}}</label>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="card border-primary">
        <div class="card-header">
          <div>Thêm Group category</div>
        </div>
        <div class="card-body">
          <create></create>
        </div>
      </div>
    </div>
  </div>
  <div>
    <edit></edit>
  </div>
</div>
